
<li>"{{question.title}}" By: {{question.author}}</li>
{{question.content}}

{{update-question question=question updateQuestion="updateQuestion"}}
<button {{action 'deleteQuestion' question}}>Delete</button>
