<h3>Here is {{model.author}} 's question: </h3>

<h4>{{model.content}}</h4>
<h5>(notes: {{model.notes}})</h5>


<h3>Replies to this question:</h3>
<ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.author}} reply was: "{{answer.content}}"</li>
  {{/each}}
</ul>

<br>
{{update-question question=model updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>

{{new-answer question=model answer=answer saveAnswer2="saveAnswer3"}}
