<h3>Here is {{model.author}} 's question: </h3>

<h4>{{model.content}}</h4>
<h5>notes: {{model.notes}}</h5>

<br>
{{update-question question=model updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>
